* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.wrap {
    display: flex;
    flex-wrap: wrap;
}

.text-right {
    text-align: right;
}

.inline {
    display: inline;
}


/* Header */

header {
    background-color: orangered;
    box-shadow: 0 1px 3px #666;
    position: fixed;
    width: 100%;
    z-index: 3;
}

/* Container nav */

.flex-container {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
}

.column {
    padding: 2rem 0;
    color: white;
}

.lateral {
    width: 20%;
}

.central {
    width: 60%;
    text-align: center;
} 

/* Classi Nav */
.link {
    color: white;
    text-decoration: none;
    padding-right: 5px;
}

.logo-img {
    height: 2rem;
    position: relative;
    top: 4px;
}

/* Main content */

main {
    background-color: whitesmoke;
}

/* Classi card e interno card */
.card {
    width: 32%;
    margin-top: 8rem;
    position: relative;
    border: 2px solid black;
}

.img-size {
    width: 100%;
}

.img-top {
    display: inline;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    transition: 300ms;
}

.card:hover .img-top {
    opacity: 1;
    transition: 300ms;
}

.like {
    background-color: white;
    color: black;
    text-align: center;
    width: 40px;
    height: 40px;
    padding: 9px;
    position: absolute;
    top: 2%;
    right: 0;
    z-index: 2;
}

.like:hover {
    color: red;
}

.discount {
    background-color: red;
    color: white;
    font-size: 13px;
    padding: 5px;
    position: absolute;
    bottom: 30%;
    z-index: 2;
}

.sustainable {
    background-color: green;
    color: white;
    font-size: 13px;
    padding: 5px;
    position: absolute;
    bottom: 30%;
    left: 3rem;
    z-index: 2;
}

.special-sus {
    left: 0;
}

.red {
    color: red;
    display: inline-block;
    font-weight: bold;
}

.underline {
    text-decoration: line-through;
    display: inline;
    font-weight: bold;
}

/* Footer */

footer {
    background-color: #222;
    color: white;
    margin-top: 3rem;
    border-bottom: 2px solid white;
    padding-bottom: 2rem;
}

.footer-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
    padding-top: 1rem;
}

.lateral-footer {
    width: 50%;
}

.fa-square-twitter:hover {
    background-color: lightblue;
}
.fa-square-facebook:hover {
    background-color: blue;
}
.fa-square-instagram:hover {
    background-color: blueviolet;
}

.fa-square-pinterest:hover {
    background-color: red;
}

.fa-square-youtube:hover {
    background-color: red;
}

